<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         bootstrap="vendor/autoload.php"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         defaultTimeLimit="10"
         colors="true"
         testdox="true"
         stopOnWarning="true"
         cacheResult="false"
>
  <coverage>
    <include>
      <directory suffix=".php">src/Events</directory>
      <directory suffix=".php">src/Handlers</directory>
      <directory suffix=".php">src/Utils</directory>
      <file>src/CoroutineWebServer.php</file>
      <file>src/Factory.php</file>
      <file>src/helpers.php</file>
    </include>
    <exclude>
      <file>src/Utils/tools.php</file>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="default">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
